.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.button {
  width: 263px;
  border-radius:15px;
  background-color: #F4AC45;
  color: #ffffff;
  margin-top: 10px; 
  margin-bottom: 100px;
  padding: 18px 31px;
  text-transform: uppercase;
  font-weight: 300px;
  line-height: 24px;
  font-family: 'Londrina Solid', cursive;
  border-color: transparent;
}


.Home {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.85;
}

.Home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.Text1{
  font-family: 'Londrina Solid', cursive;
  text-align: center;
}

.Text2{
  font-family: 'Libre Baskerville', serif;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
}

.Main-container {
  flex: wrap;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  background-color:transparent;
  height: 20px;
  border-top: 1px solid gray;
  margin-bottom: 5px;
  color: gray;
  }

